.card {}

.card-text {
    margin-top: 100px;
}

.avatar img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin: 20px;

}

.about-img-container img {
    width: 400px;
    height: 400px;
}

.skill {
    width: 400px;
}